<div class="panel panel-default">
    {{#if label}}
        <div class="panel-heading">{{{label}}}</div>
    {{/if}}

    <div class="panel-body" style="height:250px;text-align:center">
        <p> no coordonates found </p>
    </div>
</div>