<div class="panel panel-default">
    {{#if label}}
        <div class="panel-heading">{{{label}}}</div>
    {{/if}}

    <div class="panel-body" style="height:250px;text-align:center">
        {{#if coordinatesPromise.isPending}}
            {{partial 'eureka-loading'}}
        {{else}}
            {{#if collection.isFulfilled}}
                {{#unless hasCoordinates}}
                    <p>no coordonates found</p>
                {{/unless}}
            {{/if}}
            {{#if collection.isRejected}}
                {{collection.reason.error}}
            {{/if}}
        {{/if}}
    </div>
</div>